<div class="container">
  <div class="col-md-12">
    <h1>Provider List</h1>
    <button class="btn btn-success" (click)="showAddProviderForm()">
      <i class="fa fa-plus"></i>&nbsp;Add New Provider
    </button>
    <br />
    <br />
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center">Provider ID</th>
          <th class="text-center">First Name</th>
          <th class="text-center">Last Name</th>
          <th class="text-center">Address</th>
          <th class="text-center">City</th>
          <th class="text-center">Zip Code</th>
          <th class="text-center">Active</th>
          <th class="text-center">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let provider of providersService.providerList">
          <td>{{ provider.providerId }}</td>
          <td>{{ provider.firstName }}</td>
          <td>{{ provider.lastName }}</td>
          <td>{{ provider.address }}</td>
          <td>{{ provider.city }}</td>
          <td>{{ provider.zipCode }}</td>
          <td>{{ provider.active }}</td>
          <td>
            <button class="bn btn-primary" (click)="showEditProviderForm(provider)">
              <i class="fa fa-eye"></i>
            </button>
            <button class="bn btn-info" (click)="showViewEditProviderForm(provider)">
              <i class="fa fa-edit"></i>
            </button>
            <button class="bn btn-danger" (click)="removeProvider(provider)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-success" (click)="showAddProviderForm()">
      <i class="fa fa-plus"></i>&nbsp;Add New Provider
    </button>
    <br>
    <br>
    
    <!--TODO: put this form in a component line add new provider-->    
    <div *ngIf="editProviderForm">
      <h2>ProviderId:( {{ viewEditProvider.providerId }} )</h2>
      <fieldset [disabled]="isDisabled">
        <div class="form-row">
          <div class="form-group col-md-2">
            <label>First Name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="viewEditProvider.firstName" />
          </div>
          <div class="form-group col-md-2">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="viewEditProvider.lastName" />
          </div>
          <div class="form-group col-md-3">
            <label>Address</label>
            <input type="text" class="form-control" name="address" [(ngModel)]="viewEditProvider.address" />
          </div>
          <div class="form-group col-md-2">
            <label>City</label>
            <input type="text" class="form-control" name="city" [(ngModel)]="viewEditProvider.city" />
          </div>
          <div class="form-group col-md-2">
            <label>ZipCode</label>
            <input type="text" class="form-control" name="zipCode" [(ngModel)]="viewEditProvider.zipCode" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-1">
            <label>Active</label>
            <input type="checkbox" class="form-control" name="active" [(ngModel)]="viewEditProvider.active" />
          </div>
          <div class="form-group col-md-1">
            <label>Gender</label>
            <input type="text" class="form-control" name="gender" [(ngModel)]="viewEditProvider.gender" />
          </div>
          <div class="form-group col-md-2">
            <label>HireDate</label>
            <input type="text" class="form-control" name="hireDate" [(ngModel)]="viewEditProvider.hireDate" />
          </div>
          <div class="form-group col-md-8">
            <label>Notes</label>
            <input type="text" class="form-control" name="notes" [(ngModel)]="viewEditProvider.notes" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <p>** provider created on <strong>{{ viewEditProvider.createDate | date:'MM-dd-yyyy HH:mm a' }}</strong> and last updated on <strong>{{ viewEditProvider.lastModifiedDate| date:'MM-dd-yyyy HH:mm a' }}</strong> **</p>            
          </div>
        </div>
        <div class-="form-row"><hr /></div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label><b>SvcCodes</b></label>
            <div *ngFor="let svcCd of viewEditProvider.providerSvcCodes">
              <input type="text" class="form-control-sm" name="{{ svcCd.svcCode }}" [(ngModel)]="svcCd.svcCode" />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label><b>Available Shifts</b></label><br />            
            <div class="form-row">
              <div class="col-4" *ngFor="let availShift of viewEditProvider.providerAvailableShifts">
                <input type="text" class="form-control-sm" name="{{ availShift.dayOfWeek }}" [(ngModel)]="availShift.dayOfWeek" />
                <input type="text" class="form-control-sm" name="{{ availShift.shift }}" [(ngModel)]="availShift.shift" />
                <input type="checkbox" class="form-control-sm" name="{{ availShift.hasBeenScheduled }}" [(ngModel)]="availShift.hasBeenScheduled" />Scheduled
              </div>
            </div>
          </div>
          </div>
      </fieldset>
      <div style="text-align:center" *ngIf="isDisabled">
        <button type="button" class="btn btn-warning" (click)="cancelViewEditForm()">Cancel</button> &nbsp;&nbsp;
        <button type="button" class="btn btn-primary" (click)="changeToEditable()">Edit Provider</button>
      </div>
      <div style="text-align:center" *ngIf="!isDisabled">
        <button type="button" class="btn btn-warning">Cancel</button> &nbsp;&nbsp;
        <button type="button" class="btn btn-primary">Save Changes</button>
      </div>


      <!--<table class="table table-bordered table-striped table-hover">
    <tr>
      <td align="right">&nbsp;FirstName</td>
      <td>{{ editedProvider.firstName }}</td>
      <td align="right">&nbsp;LastName</td>
      <td>{{ editedProvider.lastName }}</td>
    </tr>
    <tr>
      <td align="right">&nbsp;Address</td>
      <td>{{ editedProvider.address }}</td>
      <td align="right">&nbsp;City</td>
      <td>{{ editedProvider.city }}</td>
    </tr>
    <tr>
      <td align="right">&nbsp;ZipCode</td>
      <td>{{ editedProvider.zipCode }}</td>
      <td align="right">&nbsp;Active</td>
      <td>{{ editedProvider.active }}</td>
    </tr>
    <tr>
      <td align="right">&nbsp;Gender</td>
      <td>{{ editedProvider.gender }}</td>
      <td align="right">&nbsp;HireDate</td>
      <td>{{ editedProvider.hireDate }}></td>
    </tr>
    <tr>
      <td align="right">&nbsp;EmailAddress</td>
      <td>{{ editedProvider.emailAddr }}</td>
      <td align="right">&nbsp;Notes</td>
      <td>{{ editedProvider.notes }}</td>
    </tr>
    <tr>
      <td align="right">&nbsp;CreateDate</td>
      <td>{{ editedProvider.createDate }}</td>
      <td align="right">&nbsp;CreatedBy</td>
      <td>{{ editedProvider.createdBy }}</td>
    </tr>
    <tr>
      <td align="right">&nbsp;LastModifiedDate</td>
      <td>{{ editedProvider.lastModifiedDate }}</td>
      <td align="right">&nbsp;LastModifiedBy</td>
      <td>{{ editedProvider.lastModifiedBy }}</td>
    </tr>
    <tr>
      <td colspan=4 style="text-align: center">
        <button type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button> &nbsp;&nbsp;
        <button type="button" class="btn btn-primary" (click)="updateProvider(editedProvider)">Update Provider</button>
      </td>
    </tr>
  </table>
  <div class="form-row">
    <div class="form-group col-md-6">
      <table align="center">
        <tr>
          <th>Svc Codes</th>
        </tr>
        <tr *ngFor="let svcCd of editedProvider.providerSvcCodes">
          <td align="center">
            {{ svcCd.svcCode }}
          </td>
        </tr>
      </table>
    </div>
    <div class="form-group col-md-6">
      <table>
        <tr>
          <th>Weekday</th>
          <th>Shift</th>
          <th>Scheduled?</th>
        </tr>
        <tr *ngFor="let availShift of editedProvider.providerAvailableShifts">
          <td>{{ availShift.dayOfWeek }}</td>
          <td>{{ availShift.shift }}</td>
          <td>{{ availShift.hasBeenScheduled }}</td>
        </tr>
      </table>
    </div>
  </div>-->
    </div>    
    
  </div>
</div>
<app-modal></app-modal>
