<div class="container">
  <div class="col-md-12">
    <h1>Provider List</h1>
    <button class="btn btn-success" (click)="showAddProviderForm()">
      <i class="fa fa-plus"></i>&nbsp;Add New Provider
    </button>
    <br />
    <br />
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center">Provider ID</th>
          <th class="text-center">First Name</th>
          <th class="text-center">Last Name</th>
          <th class="text-center">Address</th>
          <th class="text-center">City</th>
          <th class="text-center">Zip Code</th>
          <th class="text-center">Active</th>
          <th class="text-center">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let provider of providersService.providerList">
          <td>{{ provider.providerId }}</td>
          <td>{{ provider.firstName }}</td>
          <td>{{ provider.lastName }}</td>
          <td>{{ provider.address }}</td>
          <td>{{ provider.city }}</td>
          <td>{{ provider.zipCode }}</td>
          <td>{{ provider.active }}</td>
          <td>
            <button class="bn btn-info" placement="top">
              <!-- just diplay a readonly form of all properties-->
              <i class="fa fa-eye"></i>
            </button>
            <button class="bn btn-info" (click)="showEditProviderForm(provider)">
              <i class="fa fa-edit"></i>
            </button>
            <button class="bn btn-danger" (click)="removeProvider(provider)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-success" (click)="showAddProviderForm()">
      <i class="fa fa-plus"></i>&nbsp;Add New Provider
    </button>
    <br>
    <br>


    <!--TODO: put this form in a component line add new provider-->
    <form *ngIf="editProviderForm">
      <h2>Edit ProviderId:({{ editedProvider.providerId }})</h2>
      <table class="table table-bordered table-striped table-hover">
        <tr>
          <td align="right">&nbsp;FirstName</td>
          <td><input type="text" name="FirstName" [(ngModel)]="editedProvider.FirstName"></td>
          <td align="right">&nbsp;LastName</td>
          <td><input type="text" name="LastName" [(ngModel)]="editedProvider.LastName"></td>
        </tr>
        <tr>
          <td align="right">&nbsp;Address</td>
          <td><input type="text" name="Address" [(ngModel)]="editedProvider.Address"></td>
          <td align="right">&nbsp;City</td>
          <td><input type="text" name="City" [(ngModel)]="editedProvider.City"></td>
        </tr>
        <tr>
          <td align="right">&nbsp;ZipCode</td>
          <td><input type="text" name="ZipCode" [(ngModel)]="editedProvider.ZipCode"></td>
          <td align="right">&nbsp;Active</td>
          <td><input type="checkbox" name="Active" [(ngModel)]="editedProvider.Active"></td>
        </tr>
        <tr>
          <td align="right">&nbsp;Gender</td>
          <td><input type="text" name="Gender" [(ngModel)]="editedProvider.Gender"></td>
          <td align="right">&nbsp;HireDate</td>
          <td><input type="text" name="HireDate" [(ngModel)]="editedProvider.HireDate"></td>
        </tr>
        <tr>
          <td align="right">&nbsp;EmailAddress</td>
          <td><input type="text" name="EmailAddr" [(ngModel)]="editedProvider.EmailAddr"></td>
          <td align="right">&nbsp;Notes</td>
          <td><input type="text" name="Notes" [(ngModel)]="editedProvider.Notes"></td>
        </tr>
        <tr>
          <td align="right">&nbsp;CreateDate</td>
          <td><input type="text" name="CreateDate" [(ngModel)]="editedProvider.CreateDate"></td>
          <td align="right">&nbsp;CreatedBy</td>
          <td><input type="text" name="CreatedBy" [(ngModel)]="editedProvider.CreatedBy"></td>
        </tr>
        <tr>
          <td align="right">&nbsp;LastModifiedDate</td>
          <td><input type="text" name="LastModifiedDate" [(ngModel)]="editedProvider.LastModifiedDate"></td>
          <td align="right">&nbsp;LastModifiedBy</td>
          <td><input type="text" name="LastModifiedBy" [(ngModel)]="editedProvider.LastModifiedBy"></td>
        </tr>
        <tr>
          <td colspan=4 style="text-align: center">
            <button type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-primary" (click)="updateProvider(editedProvider)">Update Provider</button>
          </td>
        </tr>
      </table>
      <div class="form-row">
        <div class="form-group col-md-6">
          <app-provider-svc-code></app-provider-svc-code>
        </div>
        <div class="form-group col-md-6">
          <app-provider-available-shifts></app-provider-available-shifts>
        </div>
      </div>

    </form>
    
  </div>
</div>
<app-modal >
</app-modal>
