/* You can add global styles to this file, and also import other style files */
.mat-dialog-container {
  //position: fixed !important;
  top: 100px;
  left: 20%;
}
.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}

